.activity-title {
  position: absolute;
  width: 233px;
  height: 54px;
  left: auto;
  top: 148px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #111111;
}

.activity-add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 21px 13px 14px;
  gap: 6px;

  position: absolute;
  width: 159px;
  height: 54px;
  left: 1500px;
  top: 154px;

  background: #16abf8;
  border-radius: 45px;
}
